* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: radial-gradient(#4c0c0c, #000);
}

.container {
    position: relative;
    height: 430px; width: 100%;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid rgba(255,255,255, 0.05);
}